 <!-- 引入头部 -->
 <include file="Public:Table_header/header"/>

    <div class="am-cf am-padding">
    </div>

    <div class="am-g">
      <div class="am-u-md-6 am-cf">
        <div class="am-fl am-cf">
          <div class="am-btn-toolbar am-fl">
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
              <!-- <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button> -->
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
            </div>

            <div class="am-form-group am-margin-left am-fl">
        <!--       <select>
                <option value="option1">所有类别</option>
                <option value="option2">IT业界</option>
                <option value="option3">数码产品</option>
                <option value="option3">笔记本电脑</option>
                <option value="option3">平板电脑</option>
                <option value="option3">只能手机</option>
                <option value="option3">超极本</option>
              </select> -->
            </div>
          </div>
        </div>
      </div>
     <!--  <div class="am-u-md-3 am-cf">
        <div class="am-fr">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
                <span class="am-input-group-btn">
                  <button class="am-btn am-btn-default" type="button">搜索</button>
                </span>
          </div>
        </div>
      </div> -->
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
          <table class="am-table am-table-striped am-table-hover " style='font-size:13' id='tab' delurl="{:U('Admin/Blogroll/del')}">
            <thead>
              <tr>
              <th>ID</th>
              <th>站名</th>
              <th>地址</th>
              <th>联系人</th>
              <th>手机</th>
              <th>状态</th>
              <th>Logo</th>
              <th>操作</th>
              </tr>
          </thead>
          <tbody>
          <foreach name='list' key='key' item='val'>
            <tr>
              <td>{$val.bll_id}</td>
              <td style='color:green'>{$val.bll_name}</td>
              <td>
                  <a href="{$val.bll_address}" title='新窗口打开' target='_blank'>{$val.bll_address}</a>
                </td>
                <td>{$val.bll_contacts}</td>
                <td>{$val.bll_phone}</td>
              <td class='status'>{$val.bll_status}</td>
              <td>
                      <img src="__PUBLIC__/image/Blogroll/{$val.bll_pic}"  width="50px;">
              </td>
              <td id='up' Saveurl="{:U('Admin/Blogroll/Save')}">
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="action({$val.bll_id},this)">启用<span class="am-icon-pencil-square-o"></span> </button>
                   
                    <button class="am-btn am-btn-default am-btn-xs am-text-danger delete" onclick="del({$val.bll_id},this)"><span class="am-icon-trash-o"></span> 删除</button>
                    
                  </div>
                </div>
              </td>
            </tr>
          
          </tbody>
          </foreach>
        </table>
          <div class="am-cf">
  共 {$count}条记录
  <div id="show">
      {$show}
  </div>
</div>
          <hr />
          <p>注：.....</p>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>
<script src='__PUBLIC__/js/blogroll.js'></script>
<include file="Public:Table_header/footer"/>
