<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<style></style>
	<body>
		 <!-- 引入头部 -->
 <include file="Public:Table_header/header"/>

    <div class="am-cf am-padding">
    </div>

    <div class="am-g">
      <div class="am-u-md-6 am-cf">
        <div class="am-fl am-cf">
          <div class="am-btn-toolbar am-fl">
           	<h4>退换订单详情</h4>
           	
            <div class="am-form-group am-margin-left am-fl">
            </div>
          </div>
        </div>
      </div>
     
    </div>
	
    <div class="am-g">
      <div class="am-u-sm-12">
          <table class="am-table am-table-striped am-table-hover " style='font-size:13' id='tab' delurl="{:U('Admin/Blogroll/del')}">
            <thead>
              <tr>
              <th>退换订单ID</th>
              <th>原订单ID</th>
              <th>会员ID</th>
              
              <th>总金额</th>
              <th>地址</th>
              <th>操作</th>
              </tr>
          </thead>
          <tbody>
           	<tr>
              <td>{$result.san_id}</td>
              <td>{$result.orm_id}</td>
              <td>{$result.clt_id}</td>
             
              <td>{$result.orm_total}</td>
              <td>{$result.ads_id}</td>
              <td id='up'>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                   	<a href="{:U('Admin/SalesReturn/Modify',array('san_id'=>$result['san_id']))}" title="{$val.san_id}" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick=""><span></span>修改</a>
					
					<button class="am-btn am-btn-default am-btn-xs am-text-danger delete" onclick=""><span>删除</span></button>
                  </div>
                </div>
              </td>
              <td></td>
              <td></td>
            </tr>
          
          </tbody>
        </table>
          <div class="am-cf">
 	 
  
</div>
          <hr />
          <p>注：.....</p>
      </div>

    </div>
  </div>

</div>
<script src='__PUBLIC__/js/blogroll.js'></script>
<include file="Public:Table_header/footer"/>

	</body>
</html>