<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<load href="__PUBLIC__/js/jquery-2.1.3.min.js" />
	<!--<load href="__PUBLIC__/js/jquery-1.8.3.min.js" />-->
	<load href="__PUBLIC__/js/bootstrap.min.js" />
	<load href="__PUBLIC__/css/bootstrap.min.css" />
	<style>
		body,div{
			margin:0px;
			padding:0px;
			/*background:lightblue;*/
		}
		td{
			width:170px;
			text-align:center;
		}

		th{
			text-align:center;
		}
	
		table{
			border:5px groove #ccc;
			/*background:lightblue;*/
			color:gray;
			width:900px;
		}

		#goodsInfo{
			width:800px;
			/*margin:auto;*/
			margin-left:150px;
			text-align:center;
			margin-top:100px;

		}
		tr{
			line-height:40px;
		}
		.gou{
			width:50px;
		}
	</style>

</head>
<body>
	<div id='goodsInfo'>
	<foreach name="result" key="key" item="val">
	<table border='1' cellspacing='0' >
		<th colspan='4' style='font-size:20px;text-align:center;'>订单号:{$val.san_id}</th>
		<tr>
			<form class="form-horizontal" action="{:U('Admin/Goodspicture/Upload')}" method='post' enctype="multipart/form-data">
			
			<th>会员ID</th>
			<td style="padding-left:30px" id='clt_id'>{$val.clt_id}</td>
			<td class="gou"></td>
			<td></td>
		</tr>	

		<tr>
			<th>原订单ID</th>
			<td style="padding-left:30px">{$val.orm_id}</td>
			<td class="gou"></td>
			<td></td>
			</form>
		</tr>

		
		<tr>
			<th>退换订单创建时间</th>
			<td style="padding-left:30px width:1000px;">
				{$val.san_addtime}
			</td>
			<td class="gou"></td>
			<td></td>

		</tr>
		
		<tr>
			<th>状态</th>
			<td style="padding-left:30px">{$val.san_status}</td>
			<td class="gou"></td>
			<td>
				<button id="fahuo" type="button" class="btn btn-primary btn-sm" style='width:60px'>通过</button>
				<input type="hidden" id="san_id" value="{$val.san_id}">
				<button id="qianshou" type="button" class="btn btn-primary btn-sm" style='width:60px'>签收</button>
			</td>

		</tr>
		
	</table>
	</foreach>
	</div>
</body>
<script>
	var san_id = $('#san_id').val();
	var clt_id = $('#clt_id').html();

	// 找id给点击事件
	$('#fahuo').click(function(){
		// 点击事件执行ajax，携带状态参数
		$.get("{:U('Admin/SalesReturn/Change')}",{"san_status":1,"san_id":san_id},function(data){
			// 判断返回值
			if (data == '1') {
				// 成功
				$('#fahuo').html('审核通过');
				$('#san_stauts').html('')
				
			}else{
				// 失败
				alert('失败');
			}
		})
	});

	$('#qianshou').click(function(){
		// 点击事件执行ajax,携带状态参数
		$.get("{:U('Admin/SalesReturn/Send')}",{"san_status":2,"san_id":san_id},function(data){
			// 判断返回值
			if (data == '2') {
				// 成功
				$('#qianshou').html('已签收');
			}else{
				// 失败
				alert('失败');
			}
			
		})
	});
</script>
</html>
