<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <load href="__PUBLIC__/Home/css/style.css" />
    <load href="__PUBLIC__/Home/css/bootstrap.min.css" />
    <load href="__PUBLIC__/Home/js/jquery-1.8.2.min.js" />
    <!-- <load href="__PUBLIC__/Home/js/jquery-2.1.3.min.js" /> -->
    <load href="__PUBLIC__/Home/js/menu.js" />
    <load href="__PUBLIC__/Home/js/select.js" />
    <load href="__PUBLIC__/Home/pic/jquery-2.1.3.min.js"/>
    <load href="__PUBLIC__/Home/pic/bootstrap.min.css"/>
    <load href="__PUBLIC__/Home/pic/cropper.min.css"/>
    <load href="__PUBLIC__/Home/pic/sitelogo.css"/>
    <load href="__PUBLIC__/Home/pic/cropper.min.js"/>
    <load href="__PUBLIC__/Home/pic/sitelogo.js"/>
    <load href="__PUBLIC__/Home/pic/bootstrap.min.js"/>
    <link rel="icon" type="image/png" href="__PUBLIC__/home/images/haixiu.png"> 

        
  
<title>馋猫</title>
<style>
           body{font-size: 12px;}
            /* #login{width:500px;height:350px;background:white;border:2px solid lightgray;text-align:center;border-radius:20px;display:none;position:fixed;left:50%;top:50%;margin-left:-150px;margin-top:-150px;z-index:1002}*/
    .m_des {
        overflow: hidden;
        margin-top: 15px;
        padding-bottom: 1px;
        margin-bottom: 10px;
        border-bottom: 1px dotted #b6b6b6;
    }
</style>
</head>
<body>  
  
<!--Begin Header Begin-->
<include file="./Public/Home/PC_top.html"/>
<!--End Header End-->  
<!--Begin Menu Begin-->
<include file="./Public/Home/PC_nav.html"/>
<!--End Menu End--> 
<div class="i_bg bg_color">
    <!--Begin 用户中心 Begin -->
    <div class="m_content">
    <!-- 左边菜单 start --> 
    <div class="m_left">
            <div class="left_n">个人中心</div>
                <div class="left_m">
                <div class="left_m_t t_bg2">会员中心</div>
                <ul>
                    <li><a href="{:U('Home/Clientuser/index')}">我的资料</a></li>
                    <li><a href="{:U('Home/Enshrine/index')}">我的收藏</a></li>
                    <li><a href="{:U('Home/Link/index')}">浏览记录</a></li>
                    <li><a href="{:U('Home/Message/index')}">我的留言</a></li>
                    <li><a href="{:U('Home/Clientuser/safe')}">账户安全</a></li>
                    <li><a href="{:U('Home/Clientuser/usermessage')}">完善资料</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg1">订单中心</div>
                <ul>
                     <li><a href="{:U('Home/Orderform/index')}">我的订单</a></li>
                        <li><a href="#">我的评论</a></li>
                    <li><a href="{:U('Home/Address/index')}">收货地址</a></li>
                    <li><a href="#">缺货登记</a></li>
                    <li><a href="#">跟踪订单</a></li>
                </ul>
            </div> 
        </div>
    <!-- 左边菜单 end -->
    <!-- 右边菜单 start -->

    <div class="m_right">
            <div class="m_des" stylt="height:40px;">
                <table border="0" style="width:870px; line-height:22px;" cellspacing="0" cellpadding="0">
                      <tr valign="top" >
                        
                        <td>
                            <a href="{:U('Home/Message/index')}">我的留言</a>&nbsp;&nbsp;&nbsp;
                            <a href="{:U('Home/Message/reply')}">我的回复</a>&nbsp;&nbsp;&nbsp;
                            <a href="{:U('Home/Message/addupdate')}">留言添加</a>
                        </td>
                      </tr>
                </table>    
            </div>
            
            <table border="0" class="mon_tab" style="width:870px; margin-bottom:20px;" cellspacing="0" cellpadding="0">
                <form class="form-horizontal" action="{:U('Home/Message/addupdate')}" method="post">

                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <label for="inputPassword3" class="col-sm-1 control-label">留言内容</label>
                        <div class="col-sm-9">
                        
                            <textarea name="mee_detail" class="form-control" rows="15" placeholder="留言内容"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info">提&nbsp;&nbsp;交</button>
                        </div>
                    </div>
                </form>
            </table>    
        </div>
    <!-- 坐标菜单 end -->

    </div>

    
    <!--End 用户中心 End--> 
    <!--Begin Footer Begin -->
    <include file="./Public/Home/PC_foot.html"/>
    <!--End Footer End -->  
   
