<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <load href="__PUBLIC__/Home/css/style.css" />
    <load href="__PUBLIC__/Home/js/jquery-1.11.1.min_044d0927.js" />
    <load href="__PUBLIC__/Home/js/jquery.bxslider_e88acd1b.js" />
    <load href="__PUBLIC__/Home/js/jquery-1.8.2.min.js" />
    <load href="__PUBLIC__/Home/js/menu.js" />
    <load href="__PUBLIC__/Home/js/select.js" />
    <load href="__PUBLIC__/Home/js/lrscroll.js" />
    <load href="__PUBLIC__/Home/js/iban.js" />
    <load href="__PUBLIC__/Home/js/fban.js" />
    <load href="__PUBLIC__/Home/js/f_ban.js" />
    <load href="__PUBLIC__/Home/js/mban.js" />
    <load href="__PUBLIC__/Home/js/bban.js" />
    <load href="__PUBLIC__/Home/js/hban.js" />
    <load href="__PUBLIC__/Home/js/tban.js" />
    <load href="__PUBLIC__/Home/js/lrscroll_1.js" />
    <load href="__PUBLIC__/Home/alert/js/sweet-alert.js" />
    <load href="__PUBLIC__/Home/alert/css/sweet-alert.css" />
    <link rel="icon" type="image/png" href="__PUBLIC__/home/images/haixiu.png"> 

        
  
<title>馋猫登录</title>
</head>
<body>  
<!--Begin Header Begin-->
<div class="soubg">
	<div class="sou">
        <span class="fr">
        	
            <span class="fl">&nbsp;关注我们：</span>
            <span class="s_sh"><a href="#" class="sh1">新浪</a><a href="#" class="sh2">微信</a></span>
            <span class="fr">|&nbsp;<a href="#">手机版&nbsp;<img src="__PUBLIC__/Home/images/s_tel.png" align="absmiddle" /></a></span>
        </span>
    </div>
</div>
<!--End Header End--> 
<!--Begin Login Begin-->
<div class="log_bg">	
    <div class="top">
        <div class="logo"><a href="{:U('Home/Index/index')}"><img src="__PUBLIC__/Home/images/logo3.jpg" /></a></div>
    </div>
	<div class="login">
    	<div class="log_img"><img src="__PUBLIC__/Home/images/l_img.png" width="611" height="425" /></div>
		<div class="log_c">
        	<form method="post" action="{:U('Home/Login/userLogin')}">
            <table border="0" style="width:370px; font-size:14px; margin-top:30px;" cellspacing="0" cellpadding="0">
              <tr height="50" valign="top">
              	<td width="55">&nbsp;</td>
                <td>
                	<span class="fl" style="font-size:24px;">登录</span>
                    <span class="fr">还没有账号，<a href="{:U('Home/Regist/index')}" style="color:#ff4e00;">立即注册</a></span>
                </td>
              </tr>
              <tr height="70">
                <td>用户名</td>
                <td id="uuy" style=""><input type="text" value="" name="clt_user" required id="mmmm" class="l_user" /><span id="yhyhyh"><p id="iptuser" style="margin:5px 0px;color:red;"></p></td>
              </tr>
              <tr height="70">
                <td>密&nbsp; &nbsp; 码</td>
                <td><input type="password" name="clt_pass" value="" required id="jjll" class="l_pwd" /><span id="rtrtrt"></span><p id="iptpass" style="margin:15px 0px;color:#B4A078;"></p></td>
              </tr>
              <tr height="50" id="vcyzm">
                <td >验证码 </td>
                <td>
                  <div  style="margin-top: 0px;">
                    <input type="text" value="" id="code" name="code" class="l_ipt required" />
                    <img id="imgyzm" style="position:absolute;margin-left:6px;display:inline-block;border-radius:10px;" onclick="this.src='{:U('Home/Regist/code')}?'+Math.random()" src="{:U('Home/Regist/code')}" />
                    </div> 
                </td>
              </tr>
              <tr>
              	<td>&nbsp;</td>
                <td style="font-size:12px; padding-top:20px;">
                	<span style="font-family:'宋体';" class="fl">
                    	<label class="r_rad"><input type="checkbox" /></label><label class="r_txt">请保存我这次的登录信息</label>
                    </span>
                    <span class="fr"><a href="#" style="color:#ff4e00;">忘记密码</a></span>
                </td>
              </tr>
              <tr height="60">
              	<td>&nbsp;</td>
                <td><input type="submit" id="dos" value="登录" class="log_btn" /></td>
              </tr>
            </table>
            </form>
        </div>
    </div>
</div>

<!--End Login End--> 
<!--Begin Footer Begin-->
<div class="btmbg">
    <div class="btm">
        备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
        <img src="__PUBLIC__/Home/images/b_1.gif" width="98" height="33" /><img src="__PUBLIC__/Home/images/b_2.gif" width="98" height="33" /><img src="__PUBLIC__/Home/images/b_3.gif" width="98" height="33" /><img src="__PUBLIC__/Home/images/b_4.gif" width="98" height="33" /><img src="__PUBLIC__/Home/images/b_5.gif" width="98" height="33" /><img src="__PUBLIC__/Home/images/b_6.gif" width="98" height="33" />
    </div>    	
</div>
<!--End Footer End -->    

</body>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
<script type="text/javascript">
          
var imgyzm = document.getElementById('imgyzm');
      //用户名验证start
       $('#mmmm').blur(function(){
           var itparent = $(this).parent().parent();
              $('.info').remove();
              // $('.tt').remove();

            if($(this).val() == '') {
                   var errorMsg = '用户名不能为空!';
                          itparent.after("<tr class='info'><td>&nbsp;</td><td><span style='color:#ff4e00;'>"+ errorMsg +"</span></td></tr>");
            }else{
              var u = $(this).val();
              // console.log(u);
              // ajax从数据库匹配用户名
              $.get("{:U('Home/Login/ajaxName')}",{'clt_user':u},function(data){
                      if(data == '1') {
                         // var errorMsg = '<img src="__PUBLIC__/Home/images/ok.png" width="14" height="14" />';
                         //            itparent.after("<span class='tt'>"+ errorMsg +"</span>");
                         $('#yhyhyh').html('<img src="__PUBLIC__/Home/images/ok.png" width="14" height="14" />');
                      }else{
                          var errorMsg = '用户名不存在!';
                                    itparent.after("<tr class='info'><td>&nbsp;</td><td><span style='color:#ff4e00;'>"+ errorMsg +"</span></td></tr>");
                      }
              });
            }           
        });
       $("#mmmm").focusin(function(){
         $('.info').remove();
         $('#yhyhyh').html('');
         // $('.tt').remove();
    });
    //用户名验证end
    
     //用户密码验证start
     $('#jjll').blur(function(){
           var itparent = $(this).parent().parent();
              // console.log($(this).val());
              $('.info').remove();
              // $('.tt').remove();
            var patrn=/^[a-zA-Z]\w{5,21}$/;
            if($(this).val() == '') {
                  
                   var errorMsg = '密码不能为空!';
                          itparent.after("<tr class='info'><td>&nbsp;</td><td><span style='color:#ff4e00;'>"+ errorMsg +"</span></td></tr>");
            }else if(!patrn.exec($(this).val() )){
                  var errorMsg =  '您输入的密码格式不正确,请重新输入';
                          itparent.after("<tr class='info'><td>&nbsp;</td><td><span style='color:#ff4e00;'>"+ errorMsg +"</span></td></tr>");
                          
                          // return false;
            }else{
                  var clt_user = $('#mmmm').val();
                  var clt_pass = $(this).val();
                  $.post("{:U('Home/Login/ajaxDyz')}",{'clt_user':clt_user,'clt_pass':clt_pass},function(data){
                      if(data == '1') {
                         // var errorMsg = '<img src="__PUBLIC__/Home/images/ok.png" width="14" height="14" />';
                         //            itparent.after("<span class='tt'>"+ errorMsg +"</span>");
                         $('#rtrtrt').html('<img src="__PUBLIC__/Home/images/ok.png" width="14" height="14" />');
                      }else{
                          var errorMsg = '密码不正确!';
                                    itparent.after("<tr class='info'><td>&nbsp;</td><td><span style='color:#ff4e00;'>"+ errorMsg +"</span></td></tr>");
                      }
              });
            }
            
     });
     $("#jjll").focusin(function(){
         $('.info').remove();
         $('#rtrtrt').html('');
    });
     //验证验证码
     $('#code').blur(function(){
             var itparent = $(this).parent().parent();
              $('.info').remove();
              if($(this).val() == '') {
                  var errorMsg = '验证码不能为空!';
                          $('#vcyzm').after("<tr class='info'><td>&nbsp;</td><td><span style='color:#ff4e00;'>"+ errorMsg +"</span></td></tr>");
              }
     });
     $('#dos').click(function(){
        if($('#mmmm').val() == "" || $('#jjll').val() == "" || $('#code').val() == "" ){
            sweetAlert('登录失败',"请填写完整的信息!","error"); 
             imgyzm.src = "{:U('Home/Regist/code')}?"+Math.random();
            return false;        }
     });

     
        
</script>
</html>
