<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<load href="__PUBLIC__/js/jquery-2.1.3.min.js" />
	<load href="__PUBLIC__/js/bootstrap.min.js" />
	<load href="__PUBLIC__/css/bootstrap.min.css" />
</head>
<body>
	<h2 style='color:green'>添加顶级分类</h2>
	<form  class="form-horizontal" action="{:U('Admin/Category/Addcate')}" method='post'>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">分类名</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputEmail3" name='goy_name' placeholder="只能中英文" style='width:300px' required>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Sign in</button>
			</div>
		</div>
	</form>
</body>
</html>
