<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<style></style>
	<body>
		 <!-- 引入头部 -->
 <include file="Public:Table_header/header"/>

    <div class="am-cf am-padding">
    </div>

    <div class="am-g">
      <div class="am-u-md-6 am-cf">
        <div class="am-fl am-cf">
          <div class="am-btn-toolbar am-fl">
           	<h4>订单查询中心</h4>
            <div class="am-form-group am-margin-left am-fl">
       			 <form action="{:U('Admin/OrderForm/index')}" method="get">
                <select name="search" class="input_select">
                    <option value="orm_id">订单ID</option>
                    <option value="clt_id">会员ID </option>
                    <option value="orm_status">状态</option>
                </select>

                <input type="text" name="content" class="">
                <input type="submit" value="搜索" class="btn btn-info">
             </form>
            </div>
          </div>
        </div>
      </div>
     
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
          <table class="am-table am-table-striped am-table-hover " style='font-size:13' id='tab' delurl="{:U('Admin/Blogroll/del')}">
            <thead>
              <tr>
              <th>订单ID</th>
              <th>会员名</th>
              <th>收货地址</th>
              <th>订单创建时间</th>
              <th>状态</th>
              <th>操作</th>
              </tr>
          </thead>
          <tbody>
          <foreach name='list' key='key' item='val'>
            <tr>
              <td>{$val.orm_id}</td>
              <td style='color:green'>{$val.clt_id}</td>
              <td>{$val.ads_id}</td>
              <td>{$val.orm_addtime}</td>
              <td>{$val.orm_status}</td>
              <td id='on'>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                   	<a href="{:U('Admin/OrderForm/detail/',array('orm_id'=>$val['orm_id'],'orm_status'=>$val['orm_status']))}" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="">订单详情<span></span></a>
					
				
                  </div>
                </div>
              </td>
              <td></td>
              <td></td>	
            </tr>
          
          </tbody>
          </foreach>
        </table>
          <div class="am-cf">
 	 共{$num}条记录
  <div id="show">
      {$show}
  </div>
</div>
          <hr />
          <p>注：.....</p>
      </div>

    </div>
  </div>

</div>

<include file="Public:Table_header/footer"/>

	</body>

</html>